[Desktop Entry]
Version=1.0
Type=Application
Name=Aegis Browser
GenericName=Privacy Web Browser
Comment=Navegador com foco em privacidade, segurança e transparência
Exec=aegis-browser-webkit %U
TryExec=aegis-browser-webkit
Icon=io.github.n8nfelipe.aegis-browser
Terminal=false
StartupNotify=true
StartupWMClass=io.github.n8nfelipe.aegis-browser
Categories=Network;WebBrowser;Security;
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
Keywords=browser;web;privacy;security;
